.bg-calor{
  
  -webkit-transition: background 1.2s 0s ease;
  -moz-transition: background 1.2s 0s ease;
  -o-transition: background 1.2s 0s ease;
  transition: background 1.2s 0s ease;
}
img{
    width: 40%;
    max-width: 400px;
   -webkit-animation: scale-up-center 0.9s backwards;
	        animation: scale-up-center 0.9s backwards;
}